* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    162deg,
    rgb(37, 48, 48) 5%,
    rgba(56, 79, 78, 1) 17%,
    rgba(68, 89, 89, 1) 32%,
    rgb(108, 142, 140) 47%,
    rgb(55, 82, 84) 65%,
    rgb(54, 78, 82) 82%,
    rgb(59, 86, 81) 96%
  );
  height: 100vh;
}

.todo-list-container {
  display: flex;
  margin: 1.5rem auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.7rem;
  gap: 0.6rem;
  max-width: 30rem;
  max-height: 40rem;
  border-radius: 10px;
  background: rgb(61, 89, 89);
  background: linear-gradient(
    162deg,
    rgba(61, 89, 89, 1) 5%,
    rgba(56, 79, 78, 1) 17%,
    rgba(68, 89, 89, 1) 32%,
    rgb(108, 142, 140) 47%,
    rgb(55, 82, 84) 65%,
    rgb(54, 78, 82) 82%,
    rgb(101, 206, 187) 96%
  );
  overflow-y: auto;
  box-shadow: 0vh 0vh 10vh 0.3vh rgb(25, 31, 30);
  background-color: rgba(116, 126, 136, 0.2);
}

.todo-list-container h1 {
  width: 90%;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.input-container input {
  height: 2rem;
  border-radius: 5px;
  padding: 0.7rem;
  border: none;
  outline: none;
  width: 17rem;
}
/* input[type="text"] {
  border: 2px solid blue;
} */
input:focus {
  border: 0.09rem solid red;
}
.input-container input:target {
  border: 1px blue;
}
.input-container button {
  height: 2rem;
  width: 4rem;
  background-color: rgb(7, 216, 210);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0.3px rgb(2, 2, 2);
}
.input-container button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 2px rgb(69, 67, 67);
}
.input-container button:active {
  cursor: pointer;
  box-shadow: inset 1px 1px 3px 2px rgb(0, 0, 0);
}

.list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 21rem;
  height: 6.5vh;
  border-radius: 0.7vh;
  box-shadow: 0.5vh 0.7vh 1vh 0.1vh rgb(8, 11, 11);
  border: 0.01vh solid rgba(8, 11, 11, 0.3);
  padding: 0.2rem;
}

.list .edit-delete {
  display: flex;
  justify-content: center;
}
.list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.8vh;
}

.edit-delete {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

.edit-delete button,
.modal-button {
  cursor: pointer;
  width: 4rem;
  border-radius: 0.3vw;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-shadow: 0.2vh 0.2vh 3vh rgb(8, 12, 12);
  font-weight: 700;
  background-color: none;
  outline: none;
  border: none;
}
.edit-delete button:hover {
  transition: all 0.5s linear;
  border: 0.02vw solid rgb(60, 89, 88);
  background-color: rgb(7, 216, 210);
  z-index: 100;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.05vw rgb(15, 14, 14);
}
.edit-delete button:active {
  transition: all 0.5s linear;
  border: 0.1vh solid rgb(10, 10, 10);
  box-shadow: inset 0.1vw 0.1vw 0.1vw 0.05vw rgb(15, 14, 14);
}

h1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 16vw;
  border-radius: 0.5vw;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 5vh;
  text-shadow: 0vh 0vh 1vh rgb(8, 4, 4);
  box-shadow: 0.6vh 0.7vh 0.7vh 0.1vh rgb(23, 27, 27);
  color: rgb(23, 23, 24);
  z-index: 1000;
  margin-bottom: 5vh;
  margin-top: 5vh;
  border: 1px solid rgba(10, 10, 10, 0.3);
  color: rgb(13, 232, 232);
  background: linear-gradient(
    162deg,
    rgba(61, 89, 89, 1) 5%,
    rgba(56, 79, 78, 1) 17%,
    rgba(68, 89, 89, 1) 32%,
    rgba(76, 112, 111, 1) 47%,
    rgba(67, 153, 161, 1) 65%,
    rgb(54, 113, 125) 82%,
    rgb(43, 105, 93) 96%
  );
}

.list p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  text-shadow: 0.2vh 0.2vh 2vh rgb(225, 13, 13);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 10rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background: linear-gradient(
    162deg,
    rgba(61, 89, 89, 1) 5%,
    rgba(56, 79, 78, 1) 17%,
    rgba(68, 89, 89, 1) 32%,
    rgba(76, 112, 111, 1) 47%,
    rgba(67, 153, 161, 1) 65%,
    rgb(54, 113, 125) 82%,
    rgb(43, 105, 93) 96%
  );
  margin: auto;
  padding: 1.2rem;
  border: 1px solid #888;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
}
.modal-content p {
  color: red;
  font-weight: 800;
  text-transform: uppercase;
  background-color: aqua;
  box-shadow: 1px 1px 4px 2px rgb(25, 24, 24);
  border-radius: 10px;
  padding: 0.6rem;
}
.modal-content button {
  width: 40%;
  border-radius: 10px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-button {
  transition: all 0.5s linear;
  border: 0.02vw solid rgb(60, 89, 88);
  background-color: rgb(7, 216, 210);
  z-index: 100;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.05vw rgb(15, 14, 14);
  height: 1.3rem;
  font-size: 1rem;
}
.modal-button:active {
  transition: all 0.5s linear;
  border: 0.1vh solid rgb(10, 10, 10);
  box-shadow: inset 0.1vw 0.1vw 0.1vw 0.05vw rgb(15, 14, 14);
}

#get-req {
  height: 2rem;
  width: 6rem;
  background-color: rgb(48, 170, 166);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0.3px rgb(2, 2, 2);
}
#get-req:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 2px rgb(69, 67, 67);
}
#get-req:active {
  cursor: pointer;
  box-shadow: inset 1px 1px 3px 2px rgb(0, 0, 0);
}
